#app, input {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.terminal {
	padding: 10px;
}

.terminal__history__command {
	margin-left: 5px;
}

.terminal__history__results {
	display: block;
}

.terminal__command {
	display: flex;
}

.terminal__command__input {
	flex-grow: 1;
	margin-left: 5px;
	padding: 0;
	border: 0;
}

.terminal__command__input:focus {
	outline: 0;
}
